:root {
            --color-texto: #333; 
            --color-borde: #d1d5db;
            --color-fondo-azul: #1983ca;
            --color-fondo-hover-nav: #9b9b9b;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #f9fafb;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 30px;
            background: #ffffff;
            border-bottom: 1px solid #eee;
        }

        /* Lado izquierdo */
        .ladoIzquierdo {
            display: flex;
            align-items: center;
            gap: 30px;
            flex: 1 1 0;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logoImg {
            width: 250px;
            height: 40px;
            margin-right: 8px;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 45px;
            padding: 10px;
        }

        nav a {
            font-weight: bold;
            text-decoration: none;
            color: var(--color-texto);
            font-size: 0.85rem;
        }

        nav a:hover{
            color: var(--color-fondo-hover-nav);
        }

        /* Lado derecho */
        .ladoDerecho {
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
        }

        .barraBusqueda {
            display: flex;
            align-items: center;
            border: 1px solid var(--color-borde);
            border-radius: 50px;
            padding: 6px 12px;
        }

        .barraBusqueda i {
            color: gray;
            font-size: 0.9rem;
        }

        .barraBusqueda input {
            border: none;
            outline: none;
            background-color: transparent;
            margin-left: 6px;
            font-size: 0.8rem;
            color: var(--color-texto);
        }

        .accesibilidad {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .accesibilidad i {
            font-size: 1.2rem;
            color: var(--color-texto);
            cursor: pointer;
        }

        .perfil {
            background-color: var(--color-fondo-azul);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            font-weight: bold;
        }

        #menuPerfil{
            display: none;
        }

        #menuPerfil:not(:checked) + .menuPerfil{
            display: none;
        }

        .menuPerfil{
            position: absolute;
            top: 50px;
            right: 0;
            background-color: var(--color-borde);
            padding: 5px 10px;
            border-radius: 5px;
        }

        .menuPerfil ul{
            list-style: none;
        }

        .menuPerfil ul li:hover{
            color: blue;
        }